[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2018.5"
redis = "==2.10.6"
Django = "==2.0.7"
channels = "==2.1.2"
channels-redis = "*"

[requires]
python_version = "3.6"
